<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
	<meta charset = "utf-8">
	<title>Event Registration</title>
	<link rel="stylesheet" type="text/css" href="/app/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/app/css/app.css"/>
</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav"></ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div ng-controller="eventsController">
			<img ng-src="{{event.imageUrl}}"/>
			<div class="row">
				<div class="col-md-11">
					<h2 ng-bind-template="{{event.name}} on {{event.date}}"></h2>
				</div>
			</div>
			<div ng-bind-html-unsafe="snippet">some title</div>
			<button ng-click="showHideFunc()">Press Me!</button>
			<h2 ng-show="booleanVal">Show This!</h2>
			<h2 ng-hide="booleanVal">Hide This Now</h2>
			<div class="row">
				<div class="col-md-3">
					<div><strong>Date:</strong> {{event.date}}</div>
					<div><strong>Time:</strong> {{event.time}}</div>
				</div>
				<div class="col-md-4">
					<address>
						<strong>Address:</strong>
						<br/>
						<ul class="list-unstyled">
							<li>{{event.location.address}}</li>
							<li>{{event.location.city}}, {{event.location.state}}</li>
						</ul>
					</address>
				</div>
			</div>

			<hr />
			<h3>Sessions</h3>
			<select ng-model="customSort" >
				<option selected="selected" value="creatorName">Creator</option>
				<option value="duration">Duration</option>
				<option value="title">Title</option>
				<option value="-upVoteCount">Votes</option>
			</select>
			<ul class="thumbnails list-unstyled">
				<li ng-repeat="session in event.sessions | orderBy: customSort">
					<div class="row session">
						<div class="col-md-1">
							<ul class="list-unstyled">
								<li ng-click="upVoteSession(session)" style="cursor: pointer;">&#8743;</li>
								<li>{{session.upVoteCount}}</li>
								<li ng-click="downVoteSession(session)" style="cursor: pointer;">&#8744;</li>
							</ul>
							<button ng-click="showHideFunc2(session)">Press</button>
						</div>
						<div class="well col-md-11" ng-show="session.booleanVal2">
							<h4 class="well-title">{{session.name}}</h4>						
							<h6>Creator: {{session.creatorName}}</h6>
							<span>Duration: {{session.duration}}</span>
							<span>Level: {{session.level}}</span>
							<p>Abstract: {{session.abstract}}</p>
						</div>

					</div>
				</li>
			</ul>
		</div>
	</div>

	<script type="text/javascript" src="/app/lib/jquery.js"></script>
	<script type="text/javascript" src="/app/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="/app/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/app/lib/angular/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="/app/js/app.js"></script>
	<script type="text/javascript" src="/app/js/controllers/eventController.js"></script>
	<script type="text/javascript" src="/app/js/filters.js"></script>
</body>
</html>